h1{
    background: #F318A2;
    color:white;
    font-size: 30px;
    font-family: Segoe print;
    text-align: center;
}
p{
    text-align: center;
    font-size: 18px;
    font-family: Segoe print;
}
.slider-productos{
    list-style: none;
    display: inline-flex;
}
.slider-productos input[type="radio"]{
    position: relative;
    z-index: auto;
    margin: 10px;
}

@media (max-width : 600px) {
    .slider-productos{
        width: 100%;
        height: 350px;
    }
}

/*dispositivos pequeños*/
@media (min-width : 600px) {
    .slider-productos{
        width: 100%;
        height: 350px;
    }
}
/*dispositivos grandes*/
@media (min-width : 768px) {
.slider-productos{
    width: 100%;
    height: 400px;
}
/*dispositivos muy grandes*/
@media (min-width : 992px) {
    .slider-productos{
        width: 100%;
        height: 300px;
    }
}
/*dispositivos etra grandes*/
@media (min-width : 1200px) {
    .slider-productos{
        width: 100%;
        height: 350px;
    }
}
.formulario{
    
    font-size: 15px;
    font-family: Segoe print;
    background: #fc9cd9;
    margin-top: -10px;
    padding: 10px; ;
    text-align: center;


}
.bloque2{
    background: #F318A2;
    color:white;
    font-size: 30px;
    font-family: Segoe print;
    text-align: center;
}
.iconosredes{
    text-align: center;
    padding: 15px;
    width: 100%;
    background: #f1b9dd;
    
}

.textofooter{
    padding: 8px;
    width: 100%;
    height: 20px;
    font-size: 15px;
    font-family: Segoe print;
    text-align: center;

}